.footer {
    width: 100%;
    background: #282828;
    min-height: 347px;
    display: inline-block;
}

.footer__container {
    width: 94%;
    margin: 0 auto;
}
.footer__blocks-wr {
}
.foooter__catalogue {
}
.footer__title {
}
.footer__item {
}
.footer__customer {
}
.footer__logo-wr {
}
.footer__graphic {
}
.footer__contacts {
}
