.footer {
    width: 100%;
    background: #282828;
    min-height: 347px;
    display: inline-block;
}

.footer__content {
    width: 94.5%;

    margin: 0 auto;
    position: relative;
}
.footer__blocks-wr {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 9% 21.4% 39% 1fr 1fr;
}
.foooter__catalogue {
}
.footer__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    line-height: lh(12, 16);
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 19px;
}
.footer__item {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: em(12);
    color: #ffffff;
    margin-bottom: 15px;
}
.footer__customer {
    justify-self: end;
}
.footer__logo-wr {
    justify-self: center;
    align-self: center;
    transform: translate(0, -12px);
    img {
        height: 181px;
        width: 181px;
    }
}
.footer__graphic {
    transform: translate(-12px);

    .footer__title {
        margin-bottom: 25px;
    }
}
.footer__contacts {
    transform: translate(-16px);
    justify-self: end;

    .footer__title {
        text-align: right;
        margin-bottom: 25px;
    }
    .footer__item {
        margin-bottom: 25px;
    }
}

.footer__btn {
    border: 1px solid #ffffff;
    height: 40px;
    width: 183.85968017578125px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: lh(12, 16);
    color: #ffffff;
    position: absolute;
    right: 17px;
    box-sizing: border-box;
    background-color: transparent;
    text-align: center;
    bottom: 34px;
    transition: 0.3s;

    &:hover {
        background-color: white;
        color: black;
    }
}
.footer__copy {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: em(12);
    line-height: lh(12, 12);
    text-align: center;
    color: #ffffff;

    margin-top: 9px;
    margin-bottom: 17px;
}

.footer__graphic_left {
    display: none;
}
.footer__graphic_right {
    display: none;
}

@media screen and (max-width: 1100px) {
    .footer__blocks-wr {
        grid-template-columns: 1fr 21.4% 30% 1fr 1fr;
    }
}

@media screen and (max-width: 1024px) {
    .footer__blocks-wr {
        grid-template-columns: 20% 30% 30% 20%;
    }

    .foooter__catalogue {
        justify-self: left;
    }

    .footer__customer {
        justify-self: center;
    }

    .footer__logo-wr {
        display: none;
    }
    .footer__graphic {
        transform: none;
        justify-self: center;
    }

    .footer__contacts {
        justify-self: right;
        transform: none;
    }

    .footer__btn {
        right: 0;
    }
}

@media screen and (max-width: 767px) {
    .footer__content {
        width: 100%;
    }
    .footer__btn {
        display: none;
    }
    .footer__item {
        display: none;
    }
    .footer__blocks-wr {
        margin-top: 18px;

        position: relative;
        grid-template-columns: 1fr;
    }
    .footer__blocks-wr > * {
        justify-self: left;
        margin-bottom: 17px;
        width: 100%;
    }
    .footer__title {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: em(18);
        line-height: lh(12, 18);
        align-items: center;
        text-transform: capitalize;
        color: #ffffff;
        margin-left: 20px;
        cursor: pointer;
    }

    .footer__graphic {
        order: 1;
    }
    .footer__contacts .footer__title {
        text-align: start;
    }
    .footer__title {
        position: relative;
        height: 48px;
        margin-left: 0;
        padding-left: 20px;
        transition: 0.3s;
        margin-bottom: 0;
        padding-top: 0;
        display: flex;
        align-items: center;
        &::after {
            content: url(../img/white_arrow.svg);
            position: absolute;
            right: 23px;
            top: 29%;
            transition: 0.3s;
            transform: none;
        }
    }
    .active {
        display: block;
    }
    .footer__item {
        font-weight: 500;
        font-size: 1em;
        line-height: lh(20, 16);
        color: #000000;
        margin-left: 20px;
    }

    .foooter__catalogue.active {
        background: #ffffff;
    }
    .footer__customer.active {
        background: #ffffff;
    }
    .footer__graphic.active {
        background: #ffffff;
    }
    .footer__contacts.active {
        background: #ffffff;
    }
    .footer__blocks-wr {
        margin-top: 6px;
    }
    .footer__blocks-wr > * {
        margin-bottom: 0;
        margin-top: 0;
    }
    .footer__contacts .footer__item,
    .footer__contacts .footer__title,
    .footer__graphic .footer__title {
        margin-bottom: 0px;
    }

    .footer__blocks-wr {
        margin-top: 0px;
    }
    .footer__title.active {
        color: #282828;
        box-shadow: 0 0 25px rgb(0 0 0 / 20%);
        margin-bottom: 14px;
        display: flex;

        &::after {
            content: url(../img/black_arrow.svg);
            position: absolute;
            right: 18px;
            top: 50%;
            transition: 0.3s;
            transform: translate(0, -50%);
        }
    }
    .footer__item_mob-hid {
        display: none;
    }
    .footer__graphic_left {
        display: block;
    }
    .footer__graphic_right {
        display: block;
    }
    .footer__graphic_left {
        margin-left: 10px;
        margin-top: 4px;

        .footer__item {
            margin-bottom: 10px;
        }
    }
    .footer__friday {
        color: red;
    }
    .footer__graphic_right {
        margin-left: -8px;
        margin-top: 4px;

        .footer__item {
            margin-bottom: 10px;
        }
    }

    .footer__graphic {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer__title {
        text-transform: initial;
        grid-column: 1/3;
    }

    .footer__copy {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: em(8);
        line-height: lh(12, 8);
        display: flex;
        align-items: center;
        text-align: center;

        margin-top: 45px;
        text-align: center;
        display: block;
        width: 100%;
        transform: translate(0, -8px);

        color: #ffffff;
        position: relative;
        &::after {
            position: absolute;
            content: url(../img/mobile__footer_logo.webp);
            left: 50%;
            transform: translate(-50%);
            top: -23px;
        }
    }

    .footer__item_last-contact {
        margin-bottom: 10px;
    }
}
