.header {
    position: relative;
}
.header-problem {
    background-color: #999999;
    min-height: 35px;

    padding: 7px 0 5px;
    &.close {
        display: none;
    }
}
.header-problem__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;

        color: #ffffff;

        margin: 5px 10px 0px 23px;
        a {
            color: #0b66a9 !important;
        }
        :nth-child(2) {
            background-color: #e3bf00;

            padding: 0px 2px 0px 4px;
        }
    }
}
.header-problem__close {
    background-color: transparent;

    margin-right: 16px;
}
// =========================================
.header-main {
    background-color: #282828;
    min-height: 40px;
    padding: 6px 0px 4px;
    button {
        background-color: transparent;
        color: #ffffff;
    }
}
.header-main__container {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 28px 0 38px;
}
.header-main__drop {
    display: flex;
    align-items: center;
    gap: 37px;
    flex-grow: 0.86;
}
.header-main__drop-buyer,
.header-main__drop-tell {
    display: flex;
    align-items: center;
    gap: 9px;
    > p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 12px;
        text-transform: uppercase;
        color: #ffffff;
    }
}
.header-main__drop-buyer {
    >img{
        transition: all 0.3s;
    }
    &.active{
        img{
            transform: rotate(180deg);
        }
    }
}
.header-main__drop-tell {
    >img{
        transition: all 0.3s;
    }
    &.active{
        img{
            transform: rotate(180deg);
        }
    }
}
.header-logo {
    flex-grow: 1;
    margin-top: 2px;
    > a {
        display: flex;
        align-items: center;
        gap: 22px;
        width: fit-content;
    }
}
.header-list-icon {
    display: flex;
    align-items: center;
    gap: 22px;
}
.header-search-input {
    position: relative;
    top: -1px;
    > input {
        background: #ffffff;
        border-radius: 25px;

        width: 178px;
        height: 30px;

        padding: 0px 0px 0px 14px;

        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #999999;
    }
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
        -webkit-appearance: block;
        position: relative;
        right: 100%;
    }
    > a {
        position: absolute;
        right: 5px;
        top: 5.91px;
    }
}
.header-list-btn {
    display: flex;
    align-items: center;
    gap: 18.8px;
}
// =========================================

.header-menu {
    background-color: #fff;
    min-height: 40px;
    padding: 15px 0px 9px 0px;
}
.header-menu__container {
    padding: 0 39px 0 38px;
}
.header-menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;
}
.header-menu-link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;
    text-transform: uppercase;
    color: #282828;
    position: relative;
    > p {
        cursor: pointer;
        position: relative;
        z-index: 2;
    }
    &:last-child {
        >p{
            color: #e83841;
        }
    }
    &:hover {
        &::after {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #e83841;
        }
        .sub-menu__block-level-1 {
            display: flex;
            z-index: 2;
        }
    }
}
// level - 1
.sub-menu__block-level-1 {
    position: absolute;
    top: 15px;
    left: 0;

    padding: 6px 0 0;

    display: none;
}
.sub-menu__level-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 19px 0px 19px 0px;
    gap: 13px;

    width: 230px;
    max-height: fit-content;

    background: #ffffff;
    border: 1px solid #c4c4c4;
    > li {
        width: 100%;
        padding: 0 16px 0 20px;
        &:hover {
            .sub-menu__block-text-1 {
                > a {
                    font-weight: 600;
                }
                > img {
                    transform: rotate(180deg);
                }
            }
            .sub-menu__block-level-2 {
                display: flex;
            }
        }
    }
}
.sub-menu__block-text-1 {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    > a {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        color: #282828;
    }
}
.sub-menu__link-warning {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7px;
    padding: 0 13px 0 20px !important;
    > p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-transform: initial;

        color: #282828;
    }
}
.sub-menu__link-description {
    padding: 16px 13px 0px 20px !important;
    margin-top: 5px;

    border-top: 1px solid red;
    > p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        text-transform: initial;
        color: #282828;
    }
}
.sub-menu__block-level-position-1 {
    left: auto !important;
    right: 0% !important;
}
.sub-menu__block-level-brends-1 {
    left: auto !important;
    right: 0% !important;
}
.sub-menu__level-brends-1 {
    width: 271px;
    height: 244px;
    flex-wrap: wrap;
    padding: 20px 27px 15px 35px;
    justify-content: start;
    gap: 0;
    row-gap: 8px;
    column-gap: 15px;
    > li {
        padding: 0px 0px 0px 0px;
        width: 97px;
        > a {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            text-transform: uppercase;
            color: #282828;
            &:hover {
                font-weight: 600;
            }
        }
    }
}
.sub-menu__level-top-1 {
    width: 100%;
    padding: 0 27px 0 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    > li {
        width: 50%;
        .sub-menu__block-text-1 {
            width: fit-content;
            > a {
                &:hover {
                    font-weight: 600;
                }
            }
        }
    }
}
.sub-menu__level-brends {
    width: 271px !important;
    padding: 20px 0px 17px 0px;
    gap: 15px;
}
.sub-menu__link-description-brends {
    border-top: 1px solid #c4c4c4;
    padding: 15px 30px 0px 30px !important;
    > a {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-decoration-line: underline;
        color: #282828;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:hover {
            font-weight: 600;
        }
    }
}
// ==========================

// level - 2
.sub-menu__block-level-2 {
    position: absolute;
    top: 6px;
    left: 87%;

    padding: 0 0 0 30px;

    display: none;
}
.sub-menu__level-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 15px 20px 20px 29px;
    row-gap: 8px;
    column-gap: 28px;

    min-width: 460px;
    height: 387px;

    background: #ffffff;
    border: 1px solid #c4c4c4;
    > li {
        width: fit-content;
        > a {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 16px;
            text-transform: uppercase;
            color: #282828;
            &:hover {
                font-weight: 600;
            }
        }
    }
}

.for-kids-2 {
    min-width: 255px !important;
    height: 131px !important;
}
.sub-menu__block-level-position-2 {
    left: auto !important;
    right: 100% !important;
}
// ==========================

// level - 3
.sub-menu__level-3 {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    > li {
        width: 190px;
        padding: 0px 0px 0px 6px;
        > a {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #282828;
            &:hover {
                border-bottom: 1px solid red;
            }
        }
    }
}
// mobyle =========================================
.header-mobyle {
    display: none;
}
.header-mobyle__logo {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    > a {
        display: flex;
        align-items: center;
        gap: 17.5px;
    }
}
.header-mobyle__nav {
    background: #282828;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 48px;
    padding: 0 10px;
    position: relative;
}
.header-mobyle__nav-list {
    display: flex;
    justify-content: space-between;
}

// mobyle =========================================
// Mobile menu is  below
//

.header__mobile-menu {
    width: 100vw;
    position: absolute;
    z-index: 100;
    top: 48px;
    left: -100%;
    transition: 0.3s;
    height: calc(100vh - 147px);
    background: white;
    overflow-y: scroll;
}
.header__mobile-menu.active {
    width: 100vw;
    position: absolute;
    left: 0%;
}
.mobile-menu__content {
    width: 100%;
}
.mobile-menu__item {
    padding-left: 21px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.mobile-menu__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: em(18);
    line-height: lh(12, 18);
    text-transform: capitalize;
    color: #282828;
    margin-left: 25px;
}
.mobile-menu__img {
    position: absolute;
    right: 20px;
}
.mobile-menu__text_red {
    color: #e83841;
    position: absolute;
    right: 21px;
}
.mobile-menu__hor-line {
    border: 1px solid #e7e7e7;
    margin-top: 7px;
    margin-bottom: 12px;
}
.menu-trigger_1 {
    transition: 0.3s;
    min-width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-trigger_1.active {
    display: block;
    background-color: #e83841;
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        z-index: 1;
    }
}
.menu-trigger_1.active {
    z-index: 2;
}

.trigger-img_mob {
    position: absolute;
    opacity: 0;
}
.mobile-menu__feedback {
    position: absolute;
    bottom: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.feedback-btn {
    background: #282828;
    width: 245px;
    height: 40px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
.dislike {
    margin-left: 5px;
}
.like {
    margin-left: 5px;
}

.header__mobile-menu {
}
.mobile-menu_2 {
    left: -100%;
    padding-left: 34px;

    .mobile-menu__feedback {
        left: 0;
    }
}
.mobile-menu_2.active {
    left: 0;
}

.mobile-menu__content {
    margin-top: 15px;
}
.mobile-item__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: em(18);
    line-height: lh(12, 18);
    display: flex;
    align-items: center;
    color: #373737;
    margin-bottom: 23px;
}
.mobile-item__text_red {
    color: red;
}
.menu-trigger_2 {
    transition: 0.3s;
}
.menu-trigger_2.active {
    background-color: #e83841;
}
.header__mobile-menu.activeOld {
    top: 48px;
}
.mobile-menu_2.activeOld {
    left: 0;
    top: 48px;
}

.blur4px {
    filter: blur(4px);
}

.header__mobile-menu {
}
.mobile-menu_3 {
    height: 48px;
    background: #282828;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
}
.mobile-menu_3_container {
    width: 100%;
    padding: 0 25px;
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;

    * {
        display: inline-block;
    }
}
.red-cross_wr {
    width: 40px;
    height: 40px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    cursor: pointer;
}

.header__search_input {
    padding-left: 28px;
    height: 30px;
    width: 100%;
    border-radius: 50px;
    margin: 0 16px;
    /* display: inline-block; */
    background: white;
    width: 100%;
    padding-left: 0;
    display: flex;
    align-items: center;

    * {
        display: inline-block;
    }
}
.search__input {
    padding-left: 28px;
    width: 88%;
    margin-left: 4px;
    color: #999 !important;
    font-family: "Open Sans", Montserrat, sans-serif;
    font-weight: 400;
}
.mobile-search-input {
    width: 24px;
}

.menu__news {
    width: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 0.3s;
    height: 96vh;

    background: white;
}

.menu__news.active {
    left: 0;
}
.menu__return-block {
    display: flex;
    align-items: center;
    padding-top: 0;
    * {
        // display: inline-block;
    }
    padding-left: 26px;
    height: 56px;
    width: 100%;
    background-color: #282828;
}
.menu__return-img {
    margin-right: 10px;
}
.menu__return-text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 14px;
    padding: 0;
    color: white;
    font-family: Montserrat;
}
.menu__news_texts-wr {
    height: 100%;
    margin-top: 25px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: inherit;
    margin-left: 43px;
}
.menu__item-text {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    padding: 0 12px;
    font-family: Montserrat;
}

.mobile-menu__feedback_spec {
    display: grid;
    bottom: -5%;
    grid-template-columns: 73% 1fr 1fr;
    .feedback-btn {
        width: 90%;
        justify-self: center;
    }
}

html.active {
    overflow-y: hidden;
}

.scroll {
}

.menu-for-mens {
    width: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 0.3s;
    height: 96vh;
    z-index: 999;
    background: #fff;
}

.menu-for-mens.active {
    left: 0;
}

.menu-for-womens {
    width: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 0.3s;
    height: 96vh;
    z-index: 999;
    background: #fff;
}

.menu-for-womens.active {
    left: 0;
}

.menu-for-kids {
    width: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 0.3s;
    height: 96vh;
    z-index: 999;
    background: white;
}

.menu-for-kids.active {
    left: 0;
}

.menu-in-Ukraine {
    width: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 0.3s;
    height: 96vh;

    background: white;
}

.menu-in-Ukraine.active {
    left: 0;
}

.menu__for-customers {
    width: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 0.3s;
    height: 96vh;

    background: white;
}

.menu__for-customers.active {
    left: 0;
}

.menu-order {
    width: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 0.3s;
    height: 96vh;
    background: white;
}

.menu-order.active {
    left: 0;
}

.menu-accessories {
    width: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 0.3s;
    height: 96vh;
    background: white;
}

.menu-accessories.active {
    left: 0;
}

.menu__return-img {
    cursor: pointer;
}

.header__mobile-menu {
    display: flex;
    flex-direction: column;
}

.mobile-menu__feedback {
    flex-grow: 2;
    display: flex;
    position: static;
    align-items: center;
    justify-content: center;
    transform: translate(-10px);
    margin-bottom: 50px;
}

.mobile-menu__content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mobile-menu__feedback {
    flex-grow: 2;
    display: flex;
    position: static;
    align-items: end;
    justify-content: center;
    transform: translate(-10px);
}

.menu__phone-texts-wr {
    margin: 0 auto;
    width: 56%;
    text-align: center;
    margin-top: 25px;
}

.menu__item_btn {
    width: 100%;
    background: transparent;
    border: 1px solid black;
    height: 34px;
    margin-top: 15px;
    transition: 0.3s;
    &:hover {
        background: black;
        color: white;
    }
}

.menu__contacts {
    width: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 0.3s;
    height: 96vh;
    background: white;
}

.menu__contacts.active {
    left: 0;
}

.menu__graphic {
    width: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 0.3s;
    height: 96vh;
    background: white;

    .menu__news_texts-wr {
        width: 77%;
    }

    .footer__graphic_left,
    .footer__graphic_right {
        display: block;
        margin-left: 0;
    }
    .footer__graphic_left {
        .footer__item {
            margin-left: 0px;
            text-align: initial;
            font-weight: 600;
        }
    }

    .footer__graphic_right {
        .footer__item {
            text-align: end;
            font-weight: 600;
        }
    }
}

.menu__graphic.active {
    left: 0;
}

.menu__language {
    width: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 0.3s;
    height: 96vh;
    background: white;
}

.menu__language.active {
    left: 0;
}

.menu__item-title {
    margin-bottom: 40px;
}

header,
footer {
    a {
        color: unset;
    }

    a:visited {
        color: unset;
    }
}

.footer__graphic_header {
    order: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.pop-up__length{
    position: relative;
}
.length-block{
    position: absolute;
    right: 0;
    top: 29px;
    z-index: 101;
    display: none;
    flex-direction: column;
    gap: 15px;
    padding: 27px 22px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: fit-content;
    width: 180px;
    text-align: center;
    &.active{
        display: flex;
    }
    >a{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
    .length-block-active{
        color: red;
        font-weight: 600;
        font-size: 15px;
    }
}