.swiper-top{
    overflow: hidden;
    position: relative;
}
.swiper-slide-top{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    >img{
        height: 100%;
    }
}
.swiper-button-next:after, 
.swiper-button-prev:after{
    display: none;
}
.swiper-top__button-prev, 
.swiper-top__button-next{
    top: 47.8%;
}
.swiper-top__button-next{
    right: 21px;
}
.swiper-top__button-prev{
    left: 23px;
}

// =========================================

.swiper-sneakers__container {
    margin-top: 34px;
    position: relative;
}
.swiper-sneakers__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    text-align: center;

    color: #282828;
}
.swiper-sneakers,
.swiper-sneakers-2 {
    position: relative;
    max-width: 1161px;
    margin: 12px auto 0;
    overflow: hidden;
    padding: 0;
}
.sneakers-block {
    width: 230px;
    height: fit-content;
    background-color: #fff;
    padding: 15px 0 8px 0;
    &:hover{
        background: #FFFFFF;
        border: 1px solid #F1F1F1;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        .sneakers-matirial-top,
        .sneakers-matirial-bottom,
        .sneakers-btn{
            visibility: visible;
            opacity: 1;
        }
    }
}
.sneakers-block__like {
    padding: 0 22px 0 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    img{
        &:nth-child(1){
            visibility: hidden;
        }
    }
}
.sneakers-block__shoes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: -4px;
}
.sneakers-block__shoes-prefix {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -13px;
    p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        text-transform: lowercase;
        background-color: #5E9738;
        height: 16px;
        width: 84px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
    }
    span{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        text-transform: lowercase;
        background-color: #E83841;
        height: 16px;
        width: 84px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
    }
}
.sneakers-block__price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17px;
    gap: 20px;
    span{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
        text-decoration-line: line-through;
        text-transform: lowercase;
        
        color: #999999;
    }
    p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-transform: lowercase;

        color: #282828;
    }
}
.sneakers-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;

    color: #999999;

    margin-top: 3px;
}
.sneakers-id-number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;

    color: #282828;

    margin-top: 5px;
}
.sneakers-pair {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #282828;

    margin-top: 1px;
}
.sneakers-matirial-top {
    visibility: hidden;
    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 5px;
    gap: 5px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;

    p{
        color: #282828;
        span{
            color: #828282;
        }
    }
}
.sneakers-matirial-bottom {
    visibility: hidden;
    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 5px;
    margin-top: 1px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;

    p{
        color: #282828;
        span{
            color: #828282;
        }
    }
}
.sneakers-btn {
    visibility: hidden;
    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-top: 6px;
}
.sneakers-btn-left {
    border: 1px solid #282828;
    width: 107px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #282828;
    transition: all 0.2s;
    &:hover{
        background-color: #282828;
        color: #FFFFFF;
    }
}
.sneakers-btn-right {
    background-color: #282828;
    width: 105.22px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
    transition: all 0.2s;
    &:hover{
        border: 1px solid #282828;
        background-color: transparent;
        color: #282828;
    }
}
.swiper-sneakers__button-prev,
.swiper-sneakers-2__button-prev {
    top: 49.4%;
    left: 6px;
}
.swiper-sneakers__button-next,
.swiper-sneakers-2__button-next {
    top: 49.4%;
    right: 7px;
}
.sneakers-manufacturer{
    display: none;
}


.swiper-brends__container {
    margin-top: 25px;
}
.swiper-brends__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    text-align: center;

    color: #282828;
}
.swiper-brends__block {
    position: relative;
    padding: 0 25px;
}
.swiper-brends {
    overflow: hidden;
    max-width: 1124px;
    margin: 37px auto 0;
}
.swiper-brends__button-next{
    right: -8px;
}
.swiper-brends__button-prev {
    left: -7px;
}
.swiper-wrapper-brends {
    display: flex;
    align-items: center;
}
.swiper-brends__btn{
    margin: 27px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    height: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;
    border: 1px solid #282828;

    color: #282828;
    transition: all 0.2s;
    &:hover{
        background-color: #282828;
        color: #fff;
    }
}
.swiper-sneakers-2__container{
    margin-top: 47px;
}
.swiper-sneakers-2{
    margin-top: 22px;
}
// ================================
@media (max-width: 1200px){
    .swiper-sneakers,
    .swiper-sneakers-2 {
        position: relative;
        width: 960px;
        margin: 12px auto 0;
        overflow: hidden;
        padding: 0 15px;
    }
    .sneakers-block{
        width: auto;
    }
}
@media (max-width: 992px){
    .swiper-top__container{
        padding: 0px 0px 0px 0px;
    }
    .swiper-slide-top{
        >img{
            width: 100%;
        }
    }
    .swiper-top__button-prev,
    .swiper-top__button-next{
        display: none;
    }
    .swiper-sneakers,
    .swiper-sneakers-2{
        width: auto;
    }
}
@media (max-width: 768px){
    .swiper-sneakers__button-next,
    .swiper-sneakers-2__button-next,
    .swiper-sneakers-2__button-prev,
    .swiper-sneakers__button-prev{
        display: none;
    }
    .swiper-sneakers__container {
        margin-top: 23px;
    }
    .swiper-sneakers__title{
        font-size: 20px;
    }
    .sneakers-block__shoes{
        >img{
            width: 141.94px;
            height: 106.47px;
        }
    }
    .sneakers-block__shoes-prefix{
        span{
            height: 14px;
        }
        p{
            height: 14px;
        }
    }
    .sneakers-block {
        padding: 7px 0 7px;
        background: #fff;
        border: 1px solid #f1f1f1;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .sneakers-matirial-top{
        visibility: visible;
        opacity: 1;
    }
    .sneakers-matirial-bottom{
        visibility: visible;
        opacity: 1; 
    }
    .sneakers-btn{
        visibility: visible;
        opacity: 1; 
    }
    .swiper-brends__button-next,
    .swiper-brends__button-prev{
        display: none;
    }
}
@media (max-width: 576px){
    .sneakers-block__price{
        gap: 18px;
        margin-top: 13px;
        span,p{
            font-size: 10px;
            line-height: 12px;
        }
    }
    .swiper-sneakers,
    .swiper-sneakers-2 {
        padding: 0;
    }
    .sneakers-block__like-icon{
        width: 18.34px;
        height: 15.28px;
    }
    .sneakers-name{
        font-size: 10px;
        line-height: 12px;
        margin-top: 1px;
    }            
    .sneakers-block__like {
        padding: 0 13px 0 12px;
        img{
            &:nth-child(1){
                visibility: visible;
                width: 12.61px;
                height: 12.32px;
            }
        }
    }
    .sneakers-block__shoes-prefix {
        bottom: -10px;
        p{
            width: 53px;
        }
        span{
            width: 73px;
        }
    }
    .sneakers-id-number{
        font-size: 10px;
        line-height: 12px;
        margin-top: 3px;
    }
    .sneakers-pair{
        font-size: 10px;
        line-height: 12px;
        margin-top: 1px;
    }
    .sneakers-matirial-top{
        font-size: 10px;
        line-height: 12px;
        margin-top: 4px;
    }
    .sneakers-matirial-bottom{
        font-size: 10px;
        line-height: 12px;
    }
    .sneakers-manufacturer{
        display: block;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 3px;
        span{
            color: #828282;
        }
        p{
            color: #282828;
        }
    }
    .sneakers-btn{
        font-size: 10px;
        line-height: 12px;
        margin-top: 4px;
    }
    .sneakers-btn-left{
        height: 25px;
        width: 73px;
    }
    .sneakers-btn-right{
        height: 25px;
        width: 72px;
    }
    .swiper-brends__container{
        overflow: hidden;
        margin-top: 25px;
        padding: 0px 0px 0px 0px;
    }
    .swiper-brends__block{
        padding: 0px 0px 0px 0px;
    }
    .swiper-brends{
        overflow: visible;
    }
    .swiper-brends__title{
        font-size: 20px;
    }
    .swiper-brends {
        overflow: hidden;
        max-width: none;
        width: 436px;
        transform: translateX(-21px);
        margin: -7px auto 0;
    }
    .swiper-slide-brends{
        img{
            width: 108.14px;
            height: auto;
        }
    }
    .swiper-brends__btn {
        margin: -2px auto 0;
        z-index: 2;
    }
    .swiper-sneakers-2__container {
        margin-top: 19px;
    }
    .swiper-sneakers-2 {
        margin-top: 20px;
    }
}
@media (max-width: 359px){
    .sneakers-block__shoes>img {
        width: 85%;
        height: auto;
    }
}