@media (max-width: 1243px) {
    .header-menu-link {
        font-size: 13px;
    }
    .header-main__container {
        padding: 0 15px 0 15px;
    }
    .header-main__drop {
        gap: 15px;
    }
    .header-main__drop-buyer,
    .header-main__drop-tell {
        > p {
            font-size: 13px;
        }
    }
    .header-list-icon {
        gap: 12px;
    }
    .header-list-btn {
        gap: 14px;
    }
    .header-search-input {
        > input {
            width: 145px;
        }
    }
    .header-menu__container {
        padding: 0 25px 0 25px;
    }
    .sub-menu__level-1 {
        width: 215px;
    }
    .sub-menu__block-level-2 {
        left: 86%;
        padding: 0 0 0 29px;
    }
    .sub-menu__level-2 {
        padding: 15px 15px 20px 15px;
        row-gap: 8px;
        -moz-column-gap: 28px;
        column-gap: 15px;
        min-width: 315px;
        height: 387px;
    }
    .sub-menu__level-2 {
        > li {
            width: 140px;
        }
    }
    .sub-menu__level-3 {
        > li {
            width: 170px;
        }
    }
    .for-kids-2 {
        > li {
            width: fit-content;
        }
    }
    .header-problem__container p {
        margin: 5px 10px 0 0px;
    }
    .header-problem__close {
        margin-right: 1px;
    }
}
@media (max-width: 1200px){
    .swiper-sneakers,
    .swiper-sneakers-2 {
        position: relative;
        width: 960px;
        margin: 12px auto 0;
        overflow: hidden;
        padding: 0 15px;
    }
    .sneakers-block{
        width: auto;
    }
}
@media screen and (max-width: 1100px) {
    .footer__blocks-wr {
        grid-template-columns: 1fr 21.4% 30% 1fr 1fr;
    }
}
@media screen and (max-width: 1024px) {
    .footer__blocks-wr {
        grid-template-columns: 20% 30% 30% 20%;
    }

    .foooter__catalogue {
        justify-self: left;
    }

    .footer__customer {
        justify-self: center;
    }

    .footer__logo-wr {
        display: none;
    }
    .footer__graphic {
        transform: none;
        justify-self: center;
    }

    .footer__contacts {
        justify-self: right;
        transform: none;
    }

    .footer__btn {
        right: 0;
    }
}
@media (max-width: 992px) {
    .header-desctop {
        display: none;
    }
    .header-mobyle {
        display: block;
    }
    .header-mobyle__logo {
        img {
            &:nth-child(2) {
                filter: invert(1);
            }
        }
    }
    .swiper-top__container{
        padding: 0px 0px 0px 0px;
    }
    .swiper-slide-top{
        >img{
            width: 100%;
        }
    }
    .swiper-top__button-prev,
    .swiper-top__button-next{
        display: none;
    }
    .swiper-sneakers,
    .swiper-sneakers-2{
        width: auto;
    }
}
@media (max-width: 767px){
    .swiper-sneakers__button-next,
    .swiper-sneakers-2__button-next,
    .swiper-sneakers-2__button-prev,
    .swiper-sneakers__button-prev{
        display: none;
    }
    .swiper-sneakers__container {
        margin-top: 23px;
    }
    .swiper-sneakers__title{
        font-size: 20px;
    }
    .sneakers-block__shoes{
        >img{
            width: 141.94px;
            height: 106.47px;
        }
    }
    .sneakers-block__shoes-prefix{
        span{
            height: 14px;
        }
        p{
            height: 14px;
        }
    }
    .sneakers-block {
        padding: 7px 0 7px;
        background: #fff;
        border: 1px solid #f1f1f1;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .sneakers-matirial-top{
        visibility: visible;
        opacity: 1;
    }
    .sneakers-matirial-bottom{
        visibility: visible;
        opacity: 1; 
    }
    .sneakers-btn{
        visibility: visible;
        opacity: 1; 
    }
    .swiper-brends__button-next,
    .swiper-brends__button-prev{
        display: none;
    }
    // footer=======================
    .footer__content {
        width: 100%;
    }
    .footer__btn {
        display: none;
    }
    .footer__item {
        display: none;
    }
    .footer__blocks-wr {
        margin-top: 18px;

        position: relative;
        grid-template-columns: 1fr;
    }
    .footer__blocks-wr > * {
        justify-self: left;
        margin-bottom: 17px;
        width: 100%;
    }
    .footer__title {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: em(18);
        line-height: lh(12, 18);
        align-items: center;
        text-transform: capitalize;
        color: #ffffff;
        margin-left: 20px;
        cursor: pointer;
    }

    .footer__graphic {
        order: 1;
    }
    .footer__contacts .footer__title {
        text-align: start;
    }
    .footer__title {
        position: relative;
        height: 48px;
        margin-left: 0;
        padding-left: 20px;
        transition: 0.3s;
        margin-bottom: 0;
        padding-top: 0;
        display: flex;
        align-items: center;
        &::after {
            content: url(../img/white_arrow.svg);
            position: absolute;
            right: 23px;
            top: 29%;
            transition: 0.3s;
            transform: none;
        }
    }
    // .active {
    //     display: block;
    // }
    .footer__item {
        font-weight: 500;
        font-size: 1em;
        line-height: lh(20, 16);
        color: #000000;
        margin-left: 20px;
    }

    .foooter__catalogue.active {
        display: block;
        background: #ffffff;
    }
    .footer__customer.active {
        display: block;
        background: #ffffff;
    }
    .footer__graphic.active {
        display: grid;
        background: #ffffff;
    }
    .footer__contacts.active {
        display: block;
        background: #ffffff;
    }
    .footer__blocks-wr {
        margin-top: 6px;
    }
    .footer__blocks-wr > * {
        margin-bottom: 0;
        margin-top: 0;
    }
    .footer__contacts .footer__item,
    .footer__contacts .footer__title,
    .footer__graphic .footer__title {
        margin-bottom: 0px;
    }

    .footer__blocks-wr {
        margin-top: 0px;
    }
    .footer__title.active {
        color: #282828;
        box-shadow: 0 0 25px rgb(0 0 0 / 20%);
        margin-bottom: 14px;
        display: flex;

        &::after {
            content: url(../img/black_arrow.svg);
            position: absolute;
            right: 18px;
            top: 50%;
            transition: 0.3s;
            transform: translate(0, -50%);
        }
    }
    .footer__item_mob-hid {
        display: none;
    }
    .footer__graphic_left {
        display: block;
    }
    .footer__graphic_right {
        display: block;
    }
    .footer__graphic_left {
        margin-left: 10px;
        margin-top: 4px;

        .footer__item {
            margin-bottom: 10px;
        }
    }
    .footer__friday {
        color: red;
    }
    .footer__graphic_right {
        margin-left: -8px;
        margin-top: 4px;

        .footer__item {
            margin-bottom: 10px;
        }
    }

    .footer__graphic {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer__title {
        text-transform: initial;
        grid-column: 1/3;
    }

    .footer__copy {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: em(8);
        line-height: lh(12, 8);
        display: flex;
        align-items: center;
        text-align: center;

        margin-top: 45px;
        text-align: center;
        display: block;
        width: 100%;
        transform: translate(0, -8px);

        color: #ffffff;
        position: relative;
        &::after {
            position: absolute;
            content: url(../img/mobile__footer_logo.webp);
            left: 50%;
            transform: translate(-50%);
            top: -23px;
        }
    }

    .footer__item_last-contact {
        margin-bottom: 10px;
    }
    .footer {
        margin-top: -52px;
        padding-left: 0px;
    }
    .footer__item_mob-hid {
        display: none !important;
    }
}
@media (max-width: 576px){
    .sneakers-block__price{
        gap: 18px;
        margin-top: 13px;
        span,p{
            font-size: 10px;
            line-height: 12px;
        }
    }
    .swiper-sneakers,
    .swiper-sneakers-2 {
        padding: 0;
    }
    .sneakers-block__like-icon{
        width: 18.34px;
        height: 15.28px;
    }
    .sneakers-name{
        font-size: 10px;
        line-height: 12px;
        margin-top: 1px;
    }            
    .sneakers-block__like {
        padding: 0 13px 0 12px;
        img{
            &:nth-child(1){
                visibility: visible;
                width: 12.61px;
                height: 12.32px;
            }
        }
    }
    .sneakers-block__shoes-prefix {
        bottom: -10px;
        p{
            width: 53px;
        }
        span{
            width: 73px;
        }
    }
    .sneakers-id-number{
        font-size: 10px;
        line-height: 12px;
        margin-top: 3px;
    }
    .sneakers-pair{
        font-size: 10px;
        line-height: 12px;
        margin-top: 1px;
    }
    .sneakers-matirial-top{
        font-size: 10px;
        line-height: 12px;
        margin-top: 4px;
    }
    .sneakers-matirial-bottom{
        font-size: 10px;
        line-height: 12px;
    }
    .sneakers-manufacturer{
        display: block;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 3px;
        span{
            color: #828282;
        }
        p{
            color: #282828;
        }
    }
    .sneakers-btn{
        font-size: 10px;
        line-height: 12px;
        margin-top: 4px;
    }
    .sneakers-btn-left{
        height: 25px;
        width: 73px;
    }
    .sneakers-btn-right{
        height: 25px;
        width: 72px;
    }
    .swiper-brends__container{
        overflow: hidden;
        margin-top: 25px;
        padding: 0px 0px 0px 0px;
    }
    .swiper-brends__block{
        padding: 0px 0px 0px 0px;
    }
    .swiper-brends{
        overflow: visible;
    }
    .swiper-brends__title{
        font-size: 20px;
    }
    .swiper-brends {
        overflow: hidden;
        max-width: none;
        width: 436px;
        transform: translateX(-21px);
        margin: -7px auto 0;
    }
    .swiper-slide-brends{
        img{
            width: 108.14px;
            height: auto;
        }
    }
    .swiper-brends__btn {
        margin: -2px auto 0;
        z-index: 2;
    }
    .swiper-sneakers-2__container {
        margin-top: 19px;
    }
    .swiper-sneakers-2 {
        margin-top: 20px;
    }
}
@media (max-width: 360px) {
    .header-problem {
        padding: 7px 0 9px;
    }
    .header-mobyle__logo {
        > a {
            gap: 10px;
            img {
                &:nth-child(1) {
                    width: 114.58px;
                    transform: translateX(-7px);
                }
                &:nth-child(2) {
                    width: 106.63px;
                }
            }
        }
    }
    .header-problem__container {
        align-items: flex-start;
        p {
            margin: 3px 10px 0 0;
        }
    }
    .header-problem__close {
        margin-right: 2px;
        margin-top: 1px;
    }
}
@media screen and (max-width: 359px) {
    .header__mobile-menu {
        top: 48px;
    }
    .sneakers-block__shoes>img {
        width: 85%;
        height: auto;
    }
}


