@import "../../node_modules/swiper/swiper-bundle.css";
@import "nullstyle.scss";
@import "mixFuncVar.scss";
@import "fonts.scss";

// * {
@import "header.scss";
@import "popUp.scss";
@import "main.scss";
@import "footer.scss";
@import "descrSection.scss";

@import "media.scss";// * {
//     // border: 1px solid red;
// }
body{
    position: relative;
    &.lock{
        overflow: hidden;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 103;
            background-color: rgba(0, 0, 0, 0.363);
            width: 100vw;
            height: 100vh;
        }
    }
}